@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
section {
  height: 500px;
  padding-bottom: 150px;
}

/* NavBar */
header {
  width: 100%;
  height: 70px;
  background-color: #2f2f2f;
}
.nav-logo {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  font-family: Roboto, "sans-serif";
  color: #39ca74;
}
.nav-logo-port {
  color: #fff;
}
ul {
  width: auto;
  float: right;
  margin-top: 8px;
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.2vw;
}

a:hover {
  color: #f0c330;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 50px;
}

.main-title {
  color: orange;
}

.flexible-container {
  display: flex;
  padding-top: 50px;
  padding-left: 40px;
}

.half-width {
  width: 60%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.img-items-2 {
  width: 80%;
}

.img-items {
  width: 100%;
  margin-left: 100%;
}

.ancorBtn {
  color: #fff;
  font-weight: 700;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.top-banner {
  background-image: url(../img/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(../img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.title {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.experience-area {
  background-image: url(../img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 10px 10px 50px #333;
}

#baby-dev-exp {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#web-dev-exp {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}

.footer-text {
  text-align: center;
  color: dimgray;
}

p {
  color: dimgray;
}
